html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

.puppiness {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
}

.cover {
    height: 100vh;
    width: 100%;
    /* TODO: add a flex container to this selector */
}

.flex-form {
    z-index: 10;
    position: relative;
    border: 20px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    /* TODO: Add an automatic margin and a flex container to this selector */
}

.flex-form > * {
    border: 0;
    padding: 10px;
    background: white;
    line-height: 50px;
    font-size: 20px;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
}

.btn-primary {
    background: #b4d455;
    border-top: 1px solid #b4d455;
    border-bottom: 1px solid #b4d455;
    color: white;
}

.destination {
    /* TODO:
        Add an explicit size for items along the main axis of 15em.
        Read more about Flex Basis: https://java.codeup.com/appendix/further-reading/html-css/flexbox-additional-concepts/#flex-basis */
}
